<div class="todos_block" *ngIf="!loading">
  <div class="filter_block">
    <div class="row">
      <div class="col-lg-8">
        <input
          [(ngModel)]="searchString"
          class="form-control"
          type="text"
          placeholder="search todos ..."
        />
      </div>
      <div class="col-lg-4">
        <select class="form-control">
          <option value="all">all</option>
          <option value="completed">completed</option>
          <option value="uncompleted">uncompleted</option>
        </select>
      </div>
    </div>
  </div>
  <ul class="list-group" *ngIf="todosService.todos.length; else noTodos">
    <li
      *ngFor="
        let todo of todosService.todos | searchTodos: searchString;
        let i = index
      "
      class="list-group-item d-flex align-items-center justify-content-between"
    >
      <div [class.done]="todo.completed">
        <input
          type="checkbox"
          class="me-2"
          [checked]="todo.completed"
          (change)="onChange(todo.id)"
        />
        {{ todo.title }}
      </div>
      <div>
        <small class="me-5">{{ todo.date | date: "short" }}</small>
        <button (click)="onDelete(todo.id)" class="del btn btn-danger">
          &times;
        </button>
      </div>
    </li>
  </ul>
</div>
<ng-template #noTodos>
  <p class="empty_report">todos list is empty</p>
</ng-template>
<p *ngIf="loading">loading ...</p>
