.todos_block {
  margin-bottom: 15px;
}
.done {
  text-decoration: line-through;
}
.list-group-item {
  font-size: 20px;
  text-transform: capitalize;
}
.empty_report {
  font-size: 18px;
  color: red;
  text-transform: capitalize;
}
.loading_ {
  font-size: 18px;
  color: red;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.filter_block {
  margin-bottom: 15px;
}
